algoliasearch-django>=2.0,<3.0
Django==3.2.22
django-shortuuidfield
djangorestframework==3.14.0
djoser
Pillow==9.4.0
django-dotenv
django-cors-headers
stripe
social-auth-app-django==5.2.0
django-ses
drf-jwt
psycopg2-binary
django-storages
gunicorn
dj-database-url
whitenoise